<!DOCTYPE html>
<html>

<head>
  <title>Timetracker Login</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Samsung, LG, SonyEricsson, Motorola web design" />

  <!-- Custom Theme files -->
  <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
  <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
  <!-- //Custom Theme files -->

  <!-- web font -->
  <link href="//fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">
  <!-- //web font -->

</head>

<body>

  <!-- main -->
  <div class="w3layouts-main">
    <div class="bg-layer">
      <h1>Timetracker Login</h1>
      <% if ( message ) { %>
      <div>
        <p style="color: aliceblue; font-family: 'Hind', sans-serif; text-align: center;"><%= message %></p>
      </div>
      <% } %>
      <div class="header-main">
        <div class="main-icon">
          <span class="fa fa-eercast"></span>
        </div>
        <div class="header-left-bottom" id="login_form">
          <form action="/login" method="POST" id="loginForm">
            <div class="icon1">
              <span class="fa fa-user"></span>
              <input type="email" placeholder="Email or Username" name="email" required="" />
            </div>
            <div class="icon1">
              <span class="fa fa-lock"></span>
              <input type="password" placeholder="Password" name="password" required="" />
            </div>
            <div class="login-check">
              <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Keep me
                logged
                in</label>
            </div>
            <div class="bottom">
              <button class="btn" type="submit">Log In</button>
            </div>
            <div class="links">
              <p><a href="#">Forgot Password?</a></p>
              <p class="right"><a href="/register">New User? Register</a></p>
              <div class="clear"></div>
            </div>
          </form>
        </div>


        <div class="social">
          <ul>
            <li>or login using :</li>
            <li><a href="#" class="facebook"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#" class="twitter"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#" class="google"><span class="fa fa-google-plus"></span></a></li>
          </ul>
        </div>
      </div>

      <!-- copyright -->
      <div class="copyright">
        <p>© 2019 Jellyfish Technologies Pvt. Ltd. All rights reserved | Design by <a href="http://google.com/"
            target="_blank">Narottam
            Singh</a></p>
      </div>
      <!-- //copyright -->
    </div>
  </div>
  <!-- //main -->
</body>

</html>