<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Menu</h3>
    <strong>TT</strong>
  </div>

  <ul class="list-unstyled components">
    <li class="active">
      <a href="/admin/users">
        <i class="fas fa-home"></i>
        User
      </a>
    </li>
    <li>
      <a href="/admin/projects">
        <i class="fas fa-briefcase"></i>
        Project
      </a>
    </li>
    <li>
      <a href="/admin/clients">
        <i class="fas fa-image"></i>
        Clients
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fas fa-question"></i>
        FAQ
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fas fa-paper-plane"></i>
        Contact
      </a>
    </li>
  </ul>
</nav>